@import "../../styles/base.scss";

.nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  color: white;
  &_logo {
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
      span {
        font-weight: bold;
      }
    }
  }
  &_menu {
    ul {
      display: flex;
      align-items: center;
      a {
        padding: 2rem 1.2rem;
      }
    }
    button {
      @include btn2($bg: red, $stroke: white);
      display: flex;
      align-items: center;
    }
  }
}


.navcolor{
  background: black;
}