@import "../../styles/base.scss";

.all{
    margin-top: 6rem;
    height: fill-available;
    h1{
        margin-bottom: 1rem;
    }
    .data{
        display: flex;
        text-align: left;
        h3,p{
            margin-right: 1rem;
        }
    }
    .events{
        margin-top: 2rem;
        h3{
            font-size: 1.3rem,;
            margin-bottom: 1rem;
        
        }
        hr{
            margin-bottom: 1rem;
        }
    }
    .btns{
        margin-top: 1rem;
        
        .edit{
            @include btn($bg: black, $stroke: white);
            margin-right: 0.6rem;
        }
        .logout{
            @include btn($bg: rgba(220, 114, 33, 0.866), $stroke: white);
            margin-right: 0.6rem;
        }
        .delete{
            @include btn($bg: red, $stroke: white);
        }
    }
}