.footer {
  background: #22242a;
  color: white;
  padding: 3rem 4rem 2rem 4rem;
  height: 16rem;

  &_row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background: white;
      color: black;
      padding: 0.4rem 2rem;
      border-radius: 0.8rem;
      margin-bottom: 1rem;
    }
    .smm {
      display: flex;
      justify-content: start;
      align-items: center;
      h4{
        padding-right: 2rem;
      }
      .icons {
        display: flex;
        justify-content: space-between;
        width: 10rem;
      }
    }
    .contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      p {
        padding: 0rem 3rem 0rem 1rem;
      }
      h4{
        padding-right: 1rem;
      }
    }
  }
  hr {
    margin: 2rem 0;
    height: 1px;
  }
  &_row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      font-size: 0.9rem;
    }
  }
}
